@import url("./assets/fonts/fonts.css");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}
img {
    width: auto;
    height: 100%;
}
/* ============== header ======================================================================================== */
.header {
    background-color : rgba(47, 46, 46, 1);
    min-height: 60px;
}
.header-wrapper {
    max-width: 1280px;
    position: sticky;
    margin: 0 auto;

}
.header-block {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
    

}
.header-logo {
    height: 100px;
    width: auto;
    background-color: rgb(251, 205, 0);
    /* background-image: url(./RenesansD/assets/img/logo.png); */
    background-repeat: no-repeat;
    /* margin: 0 auto; */
    object-fit: cover;
    border-radius: 10%;
}

.header-list {
    display: flex;
    

}
.header-ul {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;


}
.header-li {
    list-style-type: none;
   

}
.header-link {
    padding: 10px;
    text-decoration: none;
    color: rgb(169, 169, 169);
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 1.1rem;
   
}
/* ============== header ======================================================================================== */
/* ============== face ======================================================================================== */
.main-wrapper {

}

.face {
    min-height: 1000px;
    background-color: rgb(251, 205, 0);

}
/* ============== face ======================================================================================== */
/* ============== work ======================================================================================== */
.work {
    min-height: 1000px;
    background-color: rgb(109, 251, 0);
}
/* ============== work ======================================================================================== */
/* ============== service ======================================================================================== */
.service {
    min-height: 1000px;
    background-color: rgb(0, 251, 171);
}
/* ============== service ======================================================================================== */
/* ============== about ======================================================================================== */
.about {
    min-height: 1000px;
    background-color: rgb(0, 113, 251);
}
/* ============== about ======================================================================================== */
/* ============== video ======================================================================================== */
.video {
    min-height: 1000px;
    background-color: rgb(121, 0, 251);
}
/* ============== video ======================================================================================== */
/* ============== empty ======================================================================================== */
.empty {
    min-height: 1000px;
    background-color: rgb(251, 0, 217);
}
/* ============== empty ======================================================================================== */
/* ============== contact ======================================================================================== */
.contact {
    min-height: 1000px;
    background-color: rgb(251, 0, 21);
}
/* ============== contact ======================================================================================== */
/* ============== footer ======================================================================================== */
.footer{
    min-height: 200px;
    background-color : rgba(47, 46, 46, 1);
}
/* ============== footer ======================================================================================== */
